@model UploadImg2Table.Models.Support

@{
    ViewBag.Title = "Create";
}
@*<script type="text/javascript"src="~/Themes/ckeditor/ckeditor.js"></script>*@
@*<script src="https://cdn.ckeditor.com/ckeditor5/30.0.0/classic/ckeditor.js"></script>*@
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<h2>Create</h2>

@using (Html.BeginForm("Create", "Supports", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Support</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        @Html.LabelFor(model => model.FileDetail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })*@
            <input id="file" name ="file" type="file" multiple>
            <div id="preview"></div>
            <script type="text/javascript">
                function previewImages() {

                    var preview = document.querySelector('#preview');

                    if (this.files) {
                        [].forEach.call(this.files, readAndPreview);
                    }

                    function readAndPreview(file) {

                        // Make sure `file.name` matches our extensions criteria
                        if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
                            return alert(file.name + " is not an image");
                        } // else...

                        var reader = new FileReader();

                        reader.addEventListener("load", function () {
                            var image = new Image();
                            image.height = 100;
                            image.title = file.name;
                            image.src = this.result;
                            preview.appendChild(image);
                        });

                        reader.readAsDataURL(file);

                    }

                }

                document.querySelector('#file').addEventListener("change", previewImages);
            </script>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
        <div ass="col-md-10">
            @Html.TextAreaFor(model => model.Summary, new { @id = "Summary", @class = "form-control", @rows = "200" })
            @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
            @*@Html.TextAreaFor(model=>model.Summary,new { @id = "Summary"})*@
            <script type="text/javascript">
                CKEDITOR.replace('Summary');
            </script>
             @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } }) @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
